
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Instituições</h2>
<div style="margin:20px;">
    <div style="padding:10px;">
       
            @Html.ActionLink("Editar Informação Geral", "Edit",new { id = @ViewBag.Id }, null) 
            <br />  
            @Html.ActionLink("Adicionar / Editar Serviços Especificos","ServicosLista", new { id = @ViewBag.Id }, null) <br />  
            @Html.ActionLink("Aceitar Pais", "ListaPais", new { idIns = @ViewBag.Id }, null) <br />  
            @Html.ActionLink("Criar Actividade", "CriarActividade") <br />  
            @Html.ActionLink("Ver Actividades", "ListaAct", new { id = @ViewBag.Id }, null) <br />  
            @Html.ActionLink("Vizualizar Avaliação ", "") <br />  
    </div>
</div>
