
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Instituições</h2>
<div style="margin:20px;">
    <div style="padding:10px;">
       
            @Html.ActionLink("Editar Informação Geral", "Edit" ) 
            <br />  
            @Html.ActionLink("Adicionar / Editar Serviços Especificos","ServicosLista" ) <br />  
            @Html.ActionLink("Aceitar Pais", "ListaPais" ) <br />  
            @Html.ActionLink("Criar Actividade", "CriarActividade") <br />  
            @Html.ActionLink("Ver Actividades", "ListaAct" ) <br />  
            @Html.ActionLink("Vizualizar Avaliação ", "Avaliacoes" ) <br />  
    </div>
</div>
