@model tp_escolas.Models.ViewModels.InstituicaoViewModel

@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Info</h2>

<div>
    <h4>Instituicao</h4>
    <hr />
    <p>
    @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer })


</p>
    <dl class="dl-horizontal" >

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Morada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Morada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodPostal)
        </dd>

        <dt>
            @Html.Label("Serviços Gerais ")
        </dt>
        @foreach (var item in Model.Servicos)
        {
            <dd>
                @Html.DisplayName("" + item.Descricao)
            </dd>
        }

        <dt>
            @Html.Label("Tipos de ensino")
        </dt>
        <dd></dd>
        @foreach (var it in Model.InstituicoesTipoEnsino)
        {
            <dt>
                @Html.DisplayName(it.TipoEnsino.Descricao) -> Valor: @Html.DisplayName(it.Valor.ToString())€
            </dt>
            foreach (var serv in Model.Ites)
            {
                if (serv.TipoEnsino.TipoEnsinoID == it.TipoEnsinoID)
                {
                    <dd>
                        @Html.DisplayName(serv.Servicos.Descricao)
                    </dd>
                }
            }
        }

    </dl>

</div>

