
@{
    ViewBag.Title = "Gestão Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Painel De Gestão</h2>
<table class="table">
    <tr>
        <th>
            @Html.Label("Instituições")
        </th>
        <th>
            @Html.Label("Pais")
        </th>
        <th>
            @Html.Label("Geral")
        </th>

    </tr>

    <tr>
        <td>@Html.ActionLink("Aceitar Instituição", "Aceitar", "Admin") </td>
        <td>@Html.ActionLink("Gestão de Pais", "PaisEditDel", "Admin") </td>
        <td>@Html.ActionLink("Gestão de Admins", "AdminAddDel", "Admin")</td> 
    </tr>
    <tr>
        <td>@Html.ActionLink("Getão de Serviços", "ServicoDelEdit", "Admin") </td>
        <td> </td>
        <td>@Html.ActionLink("Gestão de Cidades", "CidadesAddEdit","Admin") </td> 
    </tr>
    <tr>
        <td>@Html.ActionLink("Gestão Tipos De Ensino", "TipoEnsinoDelEdit", "Admin") </td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>@Html.ActionLink("Gestão de Instituições", "InstituicaoEditDel", "Admin") </td>
        <td></td>
        <td></td>
    </tr>
  
</table>

 