@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pais Index</h2>


<div >
    @Html.ActionLink("Editar Informação", "Edit" )
    <br />
    @Html.ActionLink("Pedir Infromaçoes", "LstIns" ) <br />
    @Html.ActionLink("Avaliar", "Avaliacao") <br />
    @Html.ActionLink("Consultar Historico de Avaliações", "HistAvaliacoes" ) <br />
    @Html.ActionLink("Ver actividades das Escolas", "LstActividades") <br /> 
    @Html.ActionLink("Pesquisar", "Pesquisa" ) <br />
 </div>
