@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pais Index</h2>


<div >
    @Html.ActionLink("Editar Informação", "Edit", new { id = @ViewBag.Id }, null)
    <br />
    @Html.ActionLink("Pedir Infromaçoes", "lstIns", new { id = @ViewBag.Id }, null) <br />
    @Html.ActionLink("Avaliar", "Avaliacao", new { id = @ViewBag.Id }, null) <br />
    @Html.ActionLink("Consultar Historico de Avaliações", "HistAvaliacoes", new { id = @ViewBag.Id }, null) <br />
    @Html.ActionLink("Ver actividades das Escolas", "LstActividades",new { id = @ViewBag.Id }, null) <br /> 
    @Html.ActionLink("Pesquisar", " ", new { id = @ViewBag.Id }, null) <br />
 </div>
