@model IEnumerable<tp_escolas.Models.Actividade>

@{
    ViewBag.Title = "InfoActividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InfoActividades</h2>

<p>
    @Html.ActionLink("Voltar", "LstActividades", new { id = ViewBag.Id})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataTermino)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataTermino)
        </td> 
    </tr>
}

</table>
